:root {
    --primaryContrast: #fff;
    --primaryTransparent: #{rgba(#005b99, 0.1)};
}

@media (prefers-color-scheme: dark) {
    :root {
        --primaryContrast: #02243c;
        --primaryTransparent: #{rgba(#4cb5fa, 0.2)};
    }
}

.option {
    display: flex;

    &__image {
        background-color: var(--white);
        border-radius: 50%;
        margin-right: 4px;
        padding: 1px;
    }

    &__label {
        &--secondary {
            color: var(--grey500);
            margin-left: auto;

            &-hl {
                color: var(--grey100);
            }
        }
    }
}
