.option {
    display: flex;

    &__image {
        background-color: white;
        border-radius: 50%;
        margin-right: 4px;
        padding: 1px;
    }

    &__label {
        &--secondary {
            color: #5e5e62; // AlbertCSS grey-700
            margin-left: auto;
        }
    }
}
